@model Ubrania_ASP.NET_Nowy.Models.Cloth
@{
    ViewData["Title"] = "Create";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<br />
<h2><label id="klik">Stwórz Ubranie</label> </h2>
<div id="AddCloth" style="display:none">
    <br />
    <form asp-action="CreateClothPartial">
        <div class="form-border">
            <h4>Nowe Ubranie</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Marka</label>
                </div>
                <div class="col-4">
                    <input asp-for="Mark" id="mark" class="form-control" autofocus/>
                </div>
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Rozmiar</label>
                </div>
                <div class="col-4">
                    <input asp-for="Size" id="size" class="form-control" />
                </div>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Kolor</label>
                </div>
                <div class="col-4">
                    <input asp-for="Colour" class="form-control" id="colour" />
                </div>
                <span asp-validation-for="Colour" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Typ</label>
                </div>
                <div class="col-4">
                    <input asp-for="Type" class="form-control" id="type">
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Opis</label>
                </div>
                <div class="col-4">
                    <input asp-for="Description" class="form-control" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label class="control-label">Cena</label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">

                </div>
                <div class="col-4">
                    <input asp-for="Agreement_Id" class="form-control" value="@Model.Agreement_Id" style="display:none" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Stworz" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#klik").click(function () {
            $("#AddCloth").toggle();
        });
    });
</script>