@model Ubrania_ASP.NET_Nowy.ViewModels.CustomReportViewModel

<br />
<form asp-action="CustomReportDetails">
    <input asp-for="StartDate" type="date" />
    <input asp-for="EndDate" type="date" />
    <input type="submit" value="Pokaż Raport" class="btn btn-primary" />&nbsp;
</form>