@using Ubrania_ASP.NET_Nowy.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


    <a class="form-control btn btn-outline-primary" asp-action="Index">Profil</a>
    <a class="form-control btn btn-outline-primary" asp-action="ChangePassword">Hasło</a>
    @if (hasExternalLogins)
    {
       <a class="form-control btn btn-outline-primary" asp-action="ExternalLogins">External logins</a>
    }


