@model  Cloth

    <td style="width:150px;">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-danger" href="@Url.Action("DeleteCloth/"+Model.Id)">
                <i class="far fa-trash-alt"></i>
            </a>          
                <form asp-action="BoxCloth">
                    <input asp-for="Box" />
                    <input asp-for="Id" value="@Model.Id" style="display:none" />
                    <input type="submit" value="Dodaj" class="btn btn-primary" />&nbsp;
                </form>
        </div>
    </td>