@model  int

    <td style="width:150px;">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-danger" href="@Url.Action("DeleteCloth/"+Model)">
                <i class="far fa-trash-alt"></i>
            </a>          
                
        </div>
    </td>