@model Size
<div class="row" style="padding-left:10px">
        <form asp-action="CreateSize">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="NameOf" />
                <input type="submit" value="Dodaj Rozmiar" class="btn btn-sm btn-dark" />
            </div>
        </form>
</div>
