@model Colour
    <div class="row" style="padding-left:10px">

        <form asp-action="CreateColour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="NameOf" />
                <input type="submit" value="Dodaj Kolor" class="btn btn-sm btn-dark" />
            </div>
        </form>
    </div>

