@model Colour

<h4>NamesOfProperty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="NameOf" />


                @*<input asp-for="Sizes" />
                    <input asp-for="Marks" />*@
                <input type="submit" value="Create" class="btn btn-default" />
                <a asp-route="colour" id="typeOfProperty">aaaaaa</a>

            </div>
        </form>
    </div>
</div>