@model IEnumerable<Ubrania_ASP.NET_Nowy.Models.NamesOfProperty>

@{
    ViewData["Title"] = "Index";

}
<br />
<form asp-action="Create">
    <div class="row">
        <div class="col-4" style="border-right-style:double; border-left-style:double">
            <h2>KOLORY</h2>
            <br />
            @foreach (var item in Model)
            {
                @foreach (var x in item.Colors)
                {
                    @x.NameOf
                    <br />
                }
            }
        </div>

        <div class="col-4" style="border-right-style:double">
            <h2>ROZMIARY</h2>
            <br />
            @foreach (var item in Model)
            {
                @foreach (var x in item.Sizes)
                {
                    @x.NameOf
                    <br />
                }
            }
        </div>

        <div class="col-4" style="border-right-style:double">
            <h2>MARKI</h2>
            <br />
            @foreach (var item in Model)
            {
                @foreach (var x in item.Marks)
                {
                    @x.NameOf
                    <br />
                }

            }
        </div>
    </div>
    </form>
